@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display&display=swap');


/*GLOBAL*/
body {
    padding-top: 5rem;

}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Playfair Display', serif;
}


main {
    padding: 20px;
}
main.container-fluid {
    width: 50%;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
}

nav {
    margin-bottom: 120px;
}

.navbar-brand {
    margin-left: 20px;
}

button.navbar-toggler{
margin-right: 10px;
}

.home_2col {
    margin-bottom: 20px;
}

img.dibley {
    max-width: 100%
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    padding: 10px;
    background-color: #f8f3e8;
}

.grid-item {
    padding: 20px;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 5px;
    color: #000;
}

.one {
    background-color: #9c3d38;
    grid-column: 1 / 5;
}

.two {
    background-color: #fae8a5;
    grid-column: 1 / 2;
}

.three {
    background-color: #a4c3a2;
    grid-column: 2 / 5;
}

.four {
    background-color: #b7d8f2;
    grid-column: 2 / 3;
}

.five {
    background-color: #6a5acd;
    grid-column: 3 / 5;
}

.six {
    background-color: #ff99cc;
    grid-column: 1 / 5;
}

